.crd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.crd h1 {
    text-align: center;
    background-color: var(--soft-orange);
    width: 50%;
    margin-block: 15px;
    border-radius: 10px;
    margin-inline: auto;
    color: white;
}

.crd .paginate {
    margin-inline: auto;
}

.card-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    background-color: var(--soft-orange);
    border-radius: 10px;
}

.card-outer img {
    width: 280px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    margin: 10px;
}

.card-header {
    width: 100%;
}

.data-book-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 100px;
    padding-left: 5%;
    justify-content: center;
    align-items: center;
}

.ant-btn {
    margin: 10px;
    margin-bottom: 10px;
}

.desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
            line-clamp: 1;
    -webkit-box-orient: vertical;
}
